
<p-fluid>
    <div class="card">
        <div class="font-semibold text-xl mb-5">{{ codeType }} Setup</div>

        <app-dynamic-form
            [config]="formConfig"
            [form]="form"
            [editingId]="editingId"
            (save)="submit($event)"
            (reset)="resetForm()"
            [isSubmitting]="isSubmitting">
        </app-dynamic-form>
    </div>
</p-fluid>

<app-data-table
    [config]="tableConfig"
    [data]="dataList"
    [first]="first"
    [totalRecords]="totalRecords"
    [rows]="rows"
    [loading]="loading"
    (edit)="update($event)"
    (delete)="delete($event.row, $event.event)"
    (lazyLoad)="loadData($event)"
    (search)="onSearch($event)">
</app-data-table>
