<!-- FORM -->
<p-fluid>
    <div class="card">
        <div class="font-semibold text-xl">{{ config.title }}</div>

        <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="flex gap-4">
                @for (field of config.formFields; track field.name) {
                <div class="w-full">
                    <label>{{ field.label }}</label>

                    @if (field.type === 'text') {
                    <input pInputText [formControlName]="field.name" />
                    } @else if (field.type === 'select') {
                    <p-select [options]="field.options" optionLabel="label" optionValue="value" [formControlName]="field.name"> </p-select>
                    }
                </div>
                }
            </div>

            <button pButton label="Save"></button>
        </form>
    </div>
</p-fluid>

<!-- TABLE -->
<div class="card mt-4">
    <div class="flex justify-between items-center flex-column sm:flex-row">
        <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
                <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="onGlobalFilter()" placeholder="Search keyword" />
        </p-iconfield>
    </div>
    <p-table [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                @for (col of config.tableColumns; track col.field) {
                <th>{{ col.header }}</th>
                }
                <th>Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
            <tr>
                @for (col of config.tableColumns; track col.field) {
                <td>{{ row[col.field] }}</td>
                }
                <td>
                    <button pButton icon="pi pi-pencil" (click)="onEdit(row)"></button>
                    <button pButton icon="pi pi-trash" (click)="onDelete(row)" class="p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
