<!-- FORM -->
<p-fluid>
    <div class="card">
        <div class="font-semibold text-xl mb-5">{{ config.title }}</div>

        <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="flex flex-col md:flex-row gap-4 mb-4">
                @for (field of config.formFields; track field.name) {
                <div class="w-full">
                    <label [for]="field.name" class="block mb-2">
                        {{ field.label }}
                        @if (field.required) {
                        <span class="text-red-500">*</span>
                        }
                    </label>

                    @if (field.type === 'text') {
                    <input pInputText [id]="field.name" [formControlName]="field.name"
                        [placeholder]="'Enter ' + field.label" class="w-full" />
                    <!-- Validation message for text -->
                    @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                    <small class="text-red-500 block mt-1">
                        {{ field.label }} is required
                    </small>
                    }
                    } @else if (field.type === 'select') {
                    <p-select [options]="field.options" optionLabel="label" optionValue="value"
                        [formControlName]="field.name" [placeholder]="'Select ' + field.label" styleClass="w-full">
                    </p-select>
                    <!-- Validation message for select -->
                    @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
                    <small class="text-red-500 block mt-1">
                        {{ field.label }} is required
                    </small>
                    }
                    }
                </div>
                }
            </div>

            <div class="flex flex-col sm:flex-row gap-2 justify-end">
                <p-button type="submit" [label]="editingId ? 'Update' : 'Save'" [disabled]="form.invalid" [fluid]="false"></p-button>
                <p-button type="button"  label="Reset" severity="secondary"
                    [fluid]="false" (click)="reset.emit()">
                </p-button>

            </div>
        </form>
    </div>
</p-fluid>


<div class="card mt-4">
    <div class="flex justify-between items-center flex-column sm:flex-row">
        <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
                <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" placeholder="Search keyword" (input)="onSearch($event.target.value)" />
        </p-iconfield>

    </div>
   <p-table [value]="data"
         [lazy]="true"
         [paginator]="true"
         [first]="first"
         [rows]="rows"
         [totalRecords]="totalRecords"
         [rowsPerPageOptions]="[10, 25, 50]"
         [loading]="loading"
         (onLazyLoad)="onLazyLoad($event)">

    <ng-template pTemplate="header">
        <tr>
            <th>SL No</th> <!-- Serial number column -->
            @for (col of config.tableColumns; track col.field) {
                @if (!col.hidden) {
                    <th>{{ col.header }}</th>
                }
            }
            <th>Action</th>
        </tr>
    </ng-template>

   <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
    <tr>
        <!-- Serial number -->
        <td>{{ first + rowIndex + 1 }}</td>

        @for (col of config.tableColumns; track col.field) {
        @if (!col.hidden) {
        <td>
            @if (col.type === 'boolean') {
            <span [ngClass]="{
                        'text-green-600 font-semibold': row[col.field],
                        'text-red-600 font-semibold': !row[col.field]
                    }">
                {{ row[col.field] ? col.trueLabel : col.falseLabel }}
            </span>
            }
            @else {
            {{ row[col.field] }}
            }
        </td>
        }
        }

        <td>
            <button class="mx-2" pButton icon="pi pi-pencil" (click)="onEdit(row)"></button>
            <button pButton icon="pi pi-trash" (click)="onDelete(row, $event)" class="p-button-danger"></button>
        </td>
    </tr>
</ng-template>


</p-table>

</div>
