// emp-previous-rab-service styles (match emp-education-info style)

// Modal: hide + icon and "No file chosen" on basic file upload so only "Choose File" shows
:host ::ng-deep .service-form .p-fileupload-choose-button svg[data-p-icon='plus'],
:host ::ng-deep .service-form .p-fileupload-choose-button .p-button-icon,
:host ::ng-deep .service-form .p-fileupload-choose-button .p-button-icon-left {
    display: none !important;
}
:host ::ng-deep .service-form .p-fileupload-basic-content .p-fileupload-choose-button ~ *,
:host ::ng-deep .service-form .p-fileupload-basic-content > span {
    display: none !important;
}
:host ::ng-deep .service-form .p-fileupload,
:host ::ng-deep .service-form .p-fileupload-basic-content {
    width: fit-content;
    min-width: 0;
    display: inline-flex;
}

// Table: consistent column spacing
:host ::ng-deep .surface-card .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .surface-card .p-datatable .p-datatable-tbody > tr > td {
    vertical-align: middle;
}
