// emp-family-info styles

:host ::ng-deep {
  p-datepicker {
    .p-datepicker-trigger {
      width: 100%;
    }

    .p-inputtext {
      width: 100%;
    }
  }

  p-select,
  p-datepicker,
  p-inputtext {
    width: 100%;

    .p-component {
      width: 100%;
    }
  }

  // Smaller address titles inside dialog
  p-dialog app-address-form h3 {
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
}
