// component styles

:host ::ng-deep {
  p-datepicker {
    .p-datepicker-trigger {
      width: 100%;
    }

    .p-inputtext {
      width: 100%;
    }
  }

  p-select,
  p-datepicker,
  p-inputtext {
    width: 100%;

    .p-component {
      width: 100%;
    }
  }
}
