// emp-rank-confirmation styles (match emp-education-info style)

:host ::ng-deep .rank-form .p-fileupload-choose-button svg[data-p-icon='plus'],
:host ::ng-deep .rank-form .p-fileupload-choose-button .p-button-icon,
:host ::ng-deep .rank-form .p-fileupload-choose-button .p-button-icon-left {
    display: none !important;
}
:host ::ng-deep .rank-form .p-fileupload-basic-content .p-fileupload-choose-button ~ *,
:host ::ng-deep .rank-form .p-fileupload-basic-content > span {
    display: none !important;
}
:host ::ng-deep .rank-form .p-fileupload,
:host ::ng-deep .rank-form .p-fileupload-basic-content {
    width: fit-content;
    min-width: 0;
    display: inline-flex;
}

:host ::ng-deep .surface-card .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .surface-card .p-datatable .p-datatable-tbody > tr > td {
    vertical-align: middle;
}

:host ::ng-deep .rank-form p-datepicker,
:host ::ng-deep .rank-form .p-datepicker .p-inputtext {
    width: 100% !important;
}
