

<p-fluid>
    <div class="card">

        <div class="font-semibold text-xl mb-5">{{ title }} Setup</div>
        <app-dynamic-form [config]="formConfig" [form]="commonForm" [editingId]="editingId" (save)="submit($event)"
            (reset)="resetForm()" [isSubmitting]="isSubmitting" (fieldChange)="onFieldChange($event)"
            [canInsert]="canInsert"
            [canUpdate]="canUpdate">
        </app-dynamic-form>
        </div>
</p-fluid>

<app-data-table [config]="tableConfig" [data]="postOfficeData" [first]="first" [totalRecords]="totalRecords" [rows]="rows"
    [loading]="loading" [lazy]="false" (edit)="update($event)" (delete)="delete($event.row, $event.event)"
    (search)="onSearch($event)"
    [canUpdate]="canUpdate" [canDelete]="canDelete">
</app-data-table>
