<form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
        @for (field of config.formFields; track field.name) {
        <div>
            <label [for]="field.name" class="block mb-2">
                {{ field.label }}
                @if (field.required) {
                <span class="text-red-500">*</span>
                }
            </label>
            @if (field.type === 'text') {
            <input pInputText [id]="field.name" [formControlName]="field.name" [placeholder]="'Enter ' + field.label"
                class="w-full" (change)="onFieldChange(field.name, $event.target.value)" />
            <!-- Validation message for text -->
            @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
            <small class="text-red-500 block mt-1">
                {{ field.label }} is required
            </small>
            }
            }
            @else if (field.type === 'number') {
            <input pInputText type="number" [id]="field.name" [formControlName]="field.name"
                [placeholder]="'Enter ' + field.label" class="w-full"
                (change)="onFieldChange(field.name, $event.target.value)" />
            <!-- Validation message for number -->
            @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
            <small class="text-red-500 block mt-1">
                {{ field.label }} is required
            </small>
            }
            }
            @else if (field.type === 'select') {
            <p-select [options]="field.options || []" optionLabel="label" optionValue="value"
                [formControlName]="field.name"
                [placeholder]="isFieldDisabled(field) ? 'Please select ' + (field.dependsOn || 'parent') + ' first' : 'Select ' + field.label"
                styleClass="w-full" (onChange)="onFieldChange(field.name, form.get(field.name)?.value)">
            </p-select>
            <!-- Validation message for select -->
            @if (form.get(field.name)?.invalid && form.get(field.name)?.touched) {
            <small class="text-red-500 block mt-1">
                {{ field.label }} is required
            </small>
            }
            }
        </div>
        }
    </div>
    <div class="flex flex-col sm:flex-row gap-2 justify-end">
        <p-button type="submit"  [label]="editingId ? 'Update' : 'Save'" [disabled]="form.invalid || isSubmitting"
            [fluid]="false"></p-button>
        <p-button type="button" label="Reset" severity="secondary" [fluid]="false" (click)="onReset()">
        </p-button>
    </div>
</form>
